*{
    box-sizing:border-box;
    margin:0;

}

img{
    max-width:100%;
}

body{
    min-height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 30% 100% 25%;
    background-color: #7C857C;
    font-family: sans-serif;

}

.titel{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin:2em 1.5em;
    padding-bottom: 3em;
    font-size: 2em;
    color: rgb(21, 21, 21);
    font-style: italic;
    justify-content: center;
    text-align: center;
}

h2{
    font-size: 1em;
}


.emne1{

    background-color: rgb(6, 51, 51);
}

.emne2{

    background-color: rgb(26, 67, 38);
}

.emne3{
    background-color: #5D9A9A;

}

.emne4{
    background-color: darkslategray;
}

footer{
    background-color: #939F93;
}


.menucontainer{
    background-color: rgb(174, 174, 227);
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    height: 40%;
    gap: 0;
    color: beige;
}

/*unordered links list- opførsel*/

ul{
    padding: 0;
    float: right;
}

.logo{
    float: left;
}

header{
    padding: 1.5em;
    font-size: 2em;
}

.menubar{
    float: right;
}

.footer-container{
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 2em;
    padding: 3em;

}

.fa-facebook{
    display:inline-block;
    color: black;
    font-size: 4em;
}

.fa-instagram{
    display:inline-block;
    color: black;
    font-size: 4em;
}


/*side-links styling*/

li {
    display: inline-block;
    margin-inline: 10px;

  }

  li a {
    color: rgb(3, 30, 18);
    text-decoration: none;
    text-transform: uppercase;

  }
  li a:hover {
    border-bottom: 2px solid rgb(40, 208, 152);
    color: rgb(40, 208, 152);
  }

i:hover{
    color: rgb(40, 208, 152);
}









  @media (max-width: 800px) {
    ul{
        display: none;
    }
    .menucontainer{
        display: grid;
        grid-template-columns: 1fr;
        height: 100vh;
    }}

  @media (min-width: 800px) {
    .menubar{
        display: none;
    }
}
