*{
    box-sizing:border-box;
    margin:0;

}

img{
    max-width:100%;
}

body{
    min-height: 100vh;
    background-color: #7C857C;
    font-family: sans-serif;
}




/*unordered links list- opførsel*/

ul{
    padding: 0;
    float: right;
}

.logo{
    float: left;
}

header{
    padding: 2.2em;
    font-size: 2.2em;
}

.menubar{
    float: right;
}




/*side-links styling*/

li {
    display: inline-block;
    margin-inline: 10px;

  }

  li a {
    color: rgb(3, 30, 18);
    text-decoration: none;
    text-transform: uppercase;

  }
  li a:hover {
    border-bottom: 2px solid rgb(40, 208, 152);
    color: rgb(40, 208, 152);
  }

i:hover{
    color: rgb(40, 208, 152);
}

h1{
    font-size: 5em;
}

h2





  @media (max-width: 800px) {
    ul{
        display: none;
    }
}


  @media (min-width: 800px) {
    .menubar{
        display: none;
    }
}
